/*
    定式：片区
    结构：
        div.sector
            >div.title
            >div.content
*/

&
    padding: 5px

    >.title
        padding-bottom: 10px
        font-size: 14px
        color: $black80

    >.content

        >.title
            font-size: 14px
            color: $black40
